<!DOCTYPE html>
<div class="startInject" ng-controller="startController">

      <div id="contactInfo">
        <div class="contactName">
          <p> Input your name </p>
          <input type="text" placeholder="First and last name" ng-model="firstName" required>
        </div>
        <div class="emailAddress">
          <p> Input your email </p>
          <input type="email" name="input" placeholder="Email" ng-model="cEmail" required>
        </div>
      </div>

      <div class="buttonConfirm">
        <a class="btn  btn-success"  id="startButton" href="#pick" role="button">View details »</a>
      </div>


<!--ng-disabled="checked" !-->
</div>
